
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --wasfah-deep-teal: 175 95% 20%; /* #006566 */
    --wasfah-bright-teal: 174 100% 29%; /* #009594 */
    --wasfah-mint: 176 56% 55%; /* #4ec3c3 */
    --wasfah-coral-red: 11 100% 50%; /* #ff2a00 */
    --wasfah-light-gray: 0 0% 98%; /* #fafafa */
    --wasfah-teal: 174 100% 25%; /* #007c7c */
    
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --radius: 0.5rem;
  }
}

@keyframes loadingBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

